# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.env/
.envrc

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# Logs
*.log

